* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#e6efa1, #fefffd);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* BURGER MENU NAVIGATIONSBAR  */
.toggle-btn {
  display: none;
}

#andreas_logo {
  width: 85px;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    height: 80px;
    cursor: pointer;
  }

  header {
    padding: 0 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 6px 40px;
  }

  header ul {
    font-family: "M PLUS Rounded 1c", sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0;
    gap: 10px;
    align-items: center;
  }

  #andreas_logo {
    display: flex;
    width: 85px;
    opacity: 30%;
  }

  nav a {
    display: flex;
    height: 100%;
    width: 62%;
    font-size: 1.2em;
    text-decoration: none;
    color: #e6efa1;
  }

  nav {
    display: none;
  }

  nav.shown {
    padding-top: 0.3rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    position: fixed;
    background-color: #2c2c2cf1;
    border-radius: 10%;
    width: 90%;
  }

  nav ul li {
    margin: 2rem 0;
    font-size: 1rem;
  }

  .icon {
    height: 55%;
    width: 100%;
    aspect-ratio: 31/20;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  .toggle-btn.open .close,
  .burger {
    display: block;
  }
}

header {
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 0, 0));
}

@media (min-width: 600px) {
  /*Desktop nav*/
  header {
    padding: 17px 3%;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 0, 0));
    display: grid;
    grid-template-columns: 0.8fr 5fr;
  }

  header nav ul {
    grid-row: 3;
  }

  li {
    display: inline;
    padding: 20px;
  }

  a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
  }

  #nav_burgermenu {
    display: none;
  }

  #nav_desktop {
    display: grid;
    place-content: end;
    margin-bottom: 5%;
  }

  #andreas_logo {
    opacity: 30%;
  }

  #andreas_logo img {
    height: 100%;
    width: 100%;
    place-content: left;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    opacity: 30%;
  }
}

/* FOOTER  */
footer {
  margin-top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #a6c2a1, #849c96);
  padding-top: 40px;
  color: black;
  border-top-right-radius: 150px;
}

.footerindhold {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 30%;
}

.footerindhold p {
  padding: 5%;
}
.medier {
  display: flex;
  font-size: 60px;
}

.medier li {
  margin: 0 20%;
}

ul {
  list-style-type: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-instagram {
  color: #aadbd3;
  text-decoration: none;
}

.andreas {
  padding: 1% 2%;
}
