/* section 1 SPLASH */
.section1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.animation {
  padding: 7%;
}

.overordnet {
  padding: 10%;
}

.overordnet h1 {
  background-color: #7a9d97;
  font-size: 120%;
  padding: 0 5%;
  color: #e6efa1;
}
.overordnet p {
  grid-row: 2;
  background-color: #7a9d97;
  padding: 5%;
  line-height: 150%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 80%;
}

/* section 2 - KNAP */

.section2 {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
}

.knap {
  grid-column: 2;
  padding: 3%;
}

.knap a {
  white-space: nowrap;
  display: inline-block;
  font-size: 0.7em;
  background-color: #7a9d97;
  padding: 5px 10px;
  text-decoration: none;
  color: #e2e9b0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  margin-bottom: 50%;
}

.knap a:hover {
  letter-spacing: 6px;
}

.knap a:hover {
  letter-spacing: 6px;
}

/* section 3 - BILLEDER */
.section3 {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 7%;
  gap: 5%;
}

.section3 img {
  width: 100%;
}

.section3 img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 2px 2px rgba(43, 73, 28, 0.432));
  transition: 0.2s;
}

.dildo img:hover {
  transform: none;
  filter: none;
}

.dildo {
  grid-column: 1/3;
  grid-row: 3/5;
}

.dildo img {
  border-radius: 2% 2%;
}

/* opdeler */
.opdeler img {
  width: 100%;
  margin-top: 10%;
}

/* section 4 - PROCESSEN BAG SPILLET   */
.section4 {
  padding: 0 5%;
}

.section4 h1 {
  margin-bottom: 5%;
}

.section4 p {
  font-size: 1rem;
}

/* section 5  - STATEMACHINE */

.diagrammer {
  padding: 5%;
}

.diagrammer img {
  padding: 5%;
}
.statemachine img {
  width: 100%;
}

.aktivitet img {
  width: 100%;
}

.diagrammer h2 {
  font-size: 110%;
}
/* ASSETLISTE  */
.assetliste {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.assetliste img {
  width: 20%;
  margin: auto;
}

.assetliste img:hover {
  transform: scale(1.1);
  filter: drop-shadow(10px 2px 2px rgba(43, 73, 28, 0.432));
  transition: 0.2s;
}

.sectionasset {
  padding: 0 5%;
}

/* section 6 - REFLEKSION */
.section6 {
  padding: 0% 10%;
  margin-bottom: 10%;
}

.section6 h1 {
  margin-bottom: 5%;
  margin-top: 15%;
  font-size: 130%;
}

.section6 p {
  font-size: 1rem;
}

footer {
  margin-top: 10%;
  width: 95%;
  height: 255px;
  background: linear-gradient(to right, #a6c2a1, #849c96);
  color: rgb(0, 0, 0);
  border-top-right-radius: 150px;
  font-size: 15px;
  line-height: 20px;
}

.footerindhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footerbillede {
  width: 30%;
}

.footerbillede img {
  padding: 10%;
  opacity: 0.3;
}

.footertekst {
  margin-top: 20%;
}

@media (min-width: 700px) {
  /* section 3 - BILLEDER */
  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
  }

  .dildo {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .dildo img {
    width: 100%;
    height: 100%;
  }

  .section3 img {
    width: 100%;
  }

  /* opdeler */
  .opdeler img {
    margin-top: 5%;
  }

  /* ASSETLISTE  */
  .assetliste {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 900px) {
  /* SECTION 1 - SPLASH */
  .overordnet p {
    font-size: 100%;
  }

  .section1 {
    padding: 0 5%;
  }

  .animation {
    grid-row: 1/5;
    margin-left: 10%;
  }

  .overordnet {
    grid-row: 2;
  }

  /* KNAP - TIL SPILLET  */
  .knap a {
    font-size: 0.8em;
  }

  /* SECTION 3 - BILLEDER  */

  .section3 {
    padding: 0 10%;
    margin-bottom: 10%;
  }

  .section3 img {
    width: 100%;
  }

  /* opdeler */
  .opdeler img {
    margin-top: 0%;
  }

  /* section 5  - STATEMACHINE */

  .diagrammer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .diagrammer img {
    margin-top: 2%;
  }
}

@media (min-width: 1200px) {
  /*   SPLASH */

  .section1 {
    padding: 0 5%;
  }

  .section1 {
    display: grid;
    grid-template-rows: 0.02fr 0.5frr;
  }

  .overordnet {
    padding: 10% 20%;
    grid-template-columns: 2/4;
  }

  .overordnet p {
    font-size: 100%;
  }

  .animation {
    margin-left: 25%;
  }

  /* KNAP - TIL SPILLET  */
  .knap a {
    font-size: 1em;
  }

  .sectionasset {
    padding: 0 10%;
  }

  /*   SECTION 4 */
  .section4 p {
    column-count: 3;
  }

  /* SECTION 6 */

  .section6 {
    padding: 0% 30%;
  }

  footer {
    height: 200px;
  }

  .footertekst {
    margin-top: 5%;
  }
}
