video {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SPLASH */
.web {
  padding-left: 20%;
  padding-right: 20%;
}

/* Tekst i splash  */
.section1 {
  padding: 0 5%;
}
.introweb {
  margin-top: 10%;
  margin-bottom: 15%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #7a9d97;
  padding: 0 5%;
line-height: 150%;
}

.introweb p {
  font-size: 100%;
}

.introweb h1 {
  font-size: 120%;
  margin-bottom: 1%;
  color: #e6efa1;
}

.indhold1 img {
  padding: 3%;
}

/* section 2  */
.indhold {
  padding: 0 10%;
}

.opdeler img {
  margin-top: 2%;
  width: 100%;
}

/* SECTION 2 PROCESSEN  */
.section2 {
  line-height: 120%;
  padding: 0 5%;
}

.section2 p,
.seection2 h1 {
  margin-bottom: 10%;
  line-height: 150%;
}

.section2 h1 {
  font-size: 115%;
  line-height: 120%;
  margin-bottom: 5%;
}

.powerpoint {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}

iframe {
  grid-column: 2;
  width: 450px;
  height: 311px;
  margin-left: auto;
  margin-right: auto;
}

/* COLLAGE  */
.collage {
  padding: 5%;
  gap: 2%;
}

.collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.knap-grid {
  margin-top: 10%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.knap2 {
  grid-column: 2;
}

.knap2 a {
  white-space: nowrap;
  display: inline-block;
  font-size: 0.9em;
  background-color: #7a9d97;
  padding: 10px 10px;
  text-decoration: none;
  color: #e2e9b0;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.knap2 a:hover {
  letter-spacing: 6px;
}

/* opdeler2  */
.opdeler2 {
  margin-top: 8%;
}

/* Reflekstion over temaet */
.brodtekst2 {
  font-size: 150%;
  margin-top: 10%;
  line-height: 110%;
}

.brodtekst2 p {
  font-size: 70%;
}

.brodtekst2 h1 {
  font-size: 100%;
  padding: 5% 0%;
}

.section3 {
  padding: 0 5%;
}

@media (min-width: 700px) {
  .section1 {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .web {
    grid-row: 1/2;
    grid-column: 3/5;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 40%;
  }

  .web img {
    width: 100%;
  }

  .introweb {
    grid-row: 2;
    grid-column: 1/6;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 10%;
  }

  .stylemood {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /*   SECTION 2 - PROCESSEN BAG STUDIESTARTSPRØVEN */
  iframe {
    width: 570px;
    height: 356px;
  }

  /*   COLLAGE  */
  .collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  /* SPLASH */

  .section1 {
    padding: 1% 10%;
  }

  .web {
    grid-column: 3/5;
  }

  .introweb {
    padding: 2%;
    grid-column: 1/4;
  }

/* KNAP */
.knap-grid {
    margin-top: 5%;
    margin-bottom: 5%;



  .powerpoint {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .collage {
    padding: 10%;
    gap: 2%;
  }

  .section3 {
    padding: 0 20%;
  }
}

@media (min-width: 1200px) {
  /*   SECTION 2 - PROCESSEN BAG STUDIESTARTSPRØVEN */
  .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .powerpoint {
    padding: 8% 0%;
  }

  /*   COLLAGE  */
  .collage {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section3 {
    padding: 0 30%;
  }
}

@media (min-width: 1500px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0 5%;
  }

  .web {
    grid-column: 1;
  }

  .web img {
    margin-top: 30%;
  }

  .introweb {
    grid-column: 2;
    margin-top: 22%;
  }

  .indhold {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 10%;
  }

  .process {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0%;
  }

  .knap-grid {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    margin-left: 15%;
  }

  .knap2 {
    grid-row: 2;
    margin-left: 0%;
  }

  .process {
    padding: 0 5%;
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
