body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#e6efa1, #fefffd);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* Splashbillede  */
.splash {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0% 1%;
}

.hej {
  grid-column: 3/7;
  grid-row: 1/4;
}

.hej img {
  width: 80%;
  margin-left: 10%;
}

.portfolio {
  grid-column: 1/2;
  grid-row: 2/3;
}

.portfolio img {
  width: 200%;
  margin-left: 40%;
}

/* TEMAOVERBLIK KNAP */

.knap {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.knap a {
  background-color: #7a9d97;
  font-size: 1em;
  color: #e6efa1;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  padding: 0.3%;
  text-decoration: none;
}

.knap a:hover {
  letter-spacing: 6px;
}

.knap a:hover {
  letter-spacing: 6px;
}

.billede1 img {
  grid-row: 2;
  width: 78%;
  margin-left: 12%;
}

.billede2 img {
  width: 100%;
}

.billede2 {
  align-content: center;
  padding: 2%;
}

/* OM MIG TEKST */ /* OM MIG BILLEDE */

.tekst {
  padding: 0 10%;
  font-size: 90%;
}

.billede3 {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}

.billede3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  grid-column: 2;
}

/* Section 3  TEMAER*/

.section3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5%;
  padding: 5%;
  margin-bottom: 30%;
}

.tema {
  text-decoration: none;
  font-size: 80%;
  background-color: #7a9d97;
}

.tema p {
  color: black;
  padding: 5%;
}

.tema h1 {
  font-size: 120%;
  color: #e6efa1;
}

.tema h1,
.tema p {
  padding: 3%;
}

.tema:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

/* burgermenu  LILLE MENU*/

@media (min-width: 700px) {
  .splash {
    padding: 0% 5%;
  }

  .hej {
    width: 80%;
  }

  .portfolio {
    width: 80%;
    margin-left: 40%;
  }

  /* OM MIG  */
  .ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekst {
    padding: 0 10%;
    font-size: 90%;
  }

  .billede3 {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  /* TEMAOVERBLIK  */

  .section3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10%;
  }
}

@media (min-width: 900px) {
  /* SPLASH */
  .splash {
    padding: 0% 5%;
  }

  .hej {
    width: 80%;
  }

  .portfolio {
    width: 100%;
    margin-left: 10%;
  }

  /* OM MIG TEKST  */
  .tekst {
    padding: 0 10%;
    margin-top: 10%;
  }
}

@media (min-width: 1000px) {
  /*   SECTION 3 */

  @media (min-width: 1200px) {
    /*   SLASH */
    .splash {
      padding: 0% 20%;
    }
    .hej {
      grid-column: 4/7;
      width: 100%;
    }
    .portfolio {
      margin-left: 0;
    }

    /*   OM MIG */
    .ommig {
      padding: 0 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .tekst h1 {
      margin-top: 5%;
    }

    .billede3 {
      width: 69%;
      margin-left: 10%;
    }

    /* TEMAOVERBLIK */
    .section3 {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .tema {
      padding: 5%;
    }
  }

  @media (min-width: 1900px) {
    /* OM MIG BILLEDE  */
    .billede3 {
      width: 70%;
      margin-top: 0%;
      margin-right: 20%;
    }
  }
}
